* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}
:root {
  --main-color: #0957df;
  --second-color: #eaedf4;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
  padding: 0 20px;
}
nav h2 {
  font-size: 14px;
}
nav span {
  font-weight: bold;
  font-size: 24px;
}
nav .log-in-btn {
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 130px;
  padding: 0 10px;
  color: var(--main-color);
}
#container {
  min-height: 500px;
  background-color: #fff;
  border-radius: 50px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.patient-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--second-color);
  height: fit-content;
  padding: 20px 20px;
  border-radius: 30px;
}
#container .patient-row .delete-btn {
  border: none;
  background-color: var(--main-color);
  border-radius: 10px;
  width: 50px;
  height: 30px;
  color: #fff;
}
